@model ControllerErrorVM
@{
    ViewData["Title"] = "Error";
	var errorText = Model.Error switch
	{
		ControllerErrors.OperationFaulted => "Выполняемая операция была прервана по ошибке сервера.",
		ControllerErrors.RequestUnsupported => "Запросы данного типа не поддерживаются.",
		_ => null
	};
}

<div class="container" align="center">
	<div class="mt-5">
		<h4 class="text-info fw-bold">В процессе обработки запроса произошла ошибка.</h4>
	</div>
	@if (errorText is not null)
	{
		<div class="mt-4">
			<p class="text-dark fw-bold">@errorText</p>
		</div>
	}
</div>
