@model RedirectionVM
@{
	ViewData["Title"] = "Redirection";
	var redirectionText = Model.Mode switch {
		RedirectionModes.Success => "Успешно. Перенаправление...",
		RedirectionModes.Warning => "Ошибка. Перенаправление...",
		RedirectionModes.Danger => "Ошибка. Перенаправление...",
		_ => "Перенаправление..."
	};
	var textClass = Model.Mode switch
	{
		RedirectionModes.Success => "text-success",
		RedirectionModes.Warning => "text-warning",
		RedirectionModes.Danger => "text-danger",
		_ => "text-info"
	};
}

<div class="mt-4">
	<h4 class="@textClass text-center fw-bold">@redirectionText</h4>
</div>
