@model ErrorVM
@{
    ViewData["Title"] = "Error";
	TempData["Error-text"] = Model.ErrorType switch
	{
		ErrorTypes.OperationFaulted => "Выполняемая операция была прервана по ошибке сервера.",
		ErrorTypes.RequestUnsupported => "Запросы данного типа не поддерживаются.",
		_ => null
	};
}

<h4 class="text-info text-center mt-4 fw-bold">При обработке запроса произошла ошибка.</h4>

@if (TempData["Error-text"] is not null)
{
    <p class="text-dark fw-bold text-center mt-3">@TempData["Error-text"]</p>
}
