@model EditVacancyPropertiesVM
@{
	ViewData["Title"] = "Create Vacancy";
}

<div class="navbar custom-navbar border-bottom">
	<div class="container" align="center">
		<div class="col-12 mt-3">
			<p class="text-dark fw-bold">Создание вакансии</p>
		</div>
	</div>
</div>

<div class="container mt-5" align="center">
	<div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4">
		<form method="POST">
			<div>
				<label for="titleInput" class="form-label">
					Название вакансии
				</label>
				<input type="text" class="form-control text-center"
					id="titleInput" name="title">
				@if (!Model.IsTitleCorrect)
				{
					<p class="text-info">
						Название должно иметь длину от 1 до 100 символов.
					</p>
				}
			</div>
			<div class="mt-5">
				<button type="submit" class="btn btn-success">
					Создать
				</button>
			</div>
		</form>
	</div>
	<div class="mt-4">
		<a class="link-secondary" href="/account">
			Вернуться на главную страницу
		</a>
	</div>
</div>
