@model WorkplaceErrorVM
@{
	ViewData["Title"] = "Error";
	var errorText = Model.Error switch
	{
		WorkplaceErrors.ServerError
			=> "Сервер не может обработать данное действие в текущий момент.",
		WorkplaceErrors.NoPermission => "У вас нет разрешения на данное действие.",
		WorkplaceErrors.ResourceNotFound
			=> "Ресурс не существует или имеет ограниченный доступ.",
		WorkplaceErrors.UserNotFound => "Пользователь не найден.",
		WorkplaceErrors.UserAlreadyJoined => "Пользователь уже добавлен в группу.",
		WorkplaceErrors.JoinLimitExceeded => "Пользователь может состоять" +
			$" не более чем в {WorkplaceLimits.TeamJoinLimit} группах.",
		WorkplaceErrors.TeamSizeLimitExceeded => "В группе может быть" +
			$" не более чем {WorkplaceLimits.TeamJoinLimit} участников.",
		WorkplaceErrors.VacancyCountLimitExceeded => "В группе могут существовать" +
			$" не более чем {WorkplaceLimits.VacanciesMaxCount} вакансий.",
		_ => null
	};
}

<div class="container" align="center">
	<div class="mt-5">
		<h4 class="text-info fw-bold">Ошибка.</h4>
	</div>
	@if (errorText is not null)
	{
		<div class="mt-4">
			<p class="text-dark fw-bold">@errorText</p>
		</div>
	}
	<div class="mt-5">
		<a class="link-secondary" href="/account">
			Вернуться на главную страницу
		</a>
	</div>
</div>
