@model EditVacancyNoteVM
@{
	ViewData["Title"] = "Note";
}

<div class="navbar custom-navbar border-bottom">
	<div class="container" align="center">
		<div class="col-12 mt-3">
			<p class="text-dark fw-bold">Заметка</p>
		</div>
	</div>
</div>

<div class="container mt-5" align="center">
	<div class="col-12 col-md-10 col-lg-8 col-xl-6 col-xxl-5">
		@if (Model.CanEdit)
		{
			<form method="POST">
				<div class="form-group">
				<textarea class="form-control" id="textInput"
					name="text" rows="8">@Model.Note.Text</textarea>
					@if (!Model.IsTextCorrect)
					{
						<p class="text-info">
							Текст заметки должен иметь длину до 1000 символов.
						</p>
					}
				</div>
				<div class="mt-5">
					<button type="submit" class="btn btn-success my-1"
							name="submit" value="save">
						Сохранить
					</button>
					<button type="submit" class="btn btn-danger my-1"
							name="submit" value="delete">
						Удалить
					</button>
				</div>
			</form>
		}
		else
		{
			<div class="card border-dark">
				<div class="card-body text-dark">
					<pre class="card-text text-start">@Model.Note.Text</pre>
				</div>
			</div>
			if (Model.CanDelete)
			{
				<form method="POST">
					<div class="form-floating">
						<div class="mt-5">
							<button type="submit" class="btn btn-danger"
									name="submit" value="delete">
								Удалить
							</button>
						</div>
					</div>
				</form>
			}
		}
	</div>
	<div class="mt-4">
		<a class="link-secondary"
				href="/workplace/vacancy?vacancyId=@Model.VacancyId">
			Вернуться
		</a>
	</div>
</div>