@model TeamVM
@{
	ViewData["Title"] = "Team";
	List<(int ImportanceIndex, string Username)> memberInfos = new();
	foreach	(var (username, permissions) in Model.Team.Permissions)
	{
		int importanceIndex = permissions.HasFlag(HRwflow.Models.TeamPermissions.Director)
		? 0 : (permissions.HasFlag(HRwflow.Models.TeamPermissions.Manager) ? 1 : 2);
		memberInfos.Add((importanceIndex, username));
	}
	memberInfos.Sort();
}

<div class="navbar custom-navbar border-bottom">
	<div class="container" align="center">
		<div class="col-12 mt-3">
			<p class="text-dark fw-bold">@Model.Team.Properties.Name</p>
		</div>
	</div>
</div>

<div class="container" align="center">
	<div class="mt-5">
		<p class="text-secondary">Участники:</p>
	</div>
    <div class="mt-4">
		@foreach(var item in memberInfos)
		{
			var colorNames = new List<string> { "primary", "success", "dark" };
			var textClass = $"link-{colorNames[item.ImportanceIndex]}";
			var link = $"/workplace/profile?teamId={Model.Team.TeamId}&username={item.Username}";
			<a class="@textClass username-link" href="@link">@item.Username</a>
		}
	</div>
	<div class="mt-5">
		@if(Model.Team.HasMember(Model.Username)
			&& Model.Team.Permissions[Model.Username].HasFlag(
				TeamPermissions.ModifyTeamProperties))
		{
			<a class="btn btn-success custom-btn" href="/workplace/editteam?teamId=@Model.Team.TeamId">
				Редактировать группу
			</a>
		}
		@if(Model.Team.HasMember(Model.Username)
			&& Model.Team.Permissions[Model.Username].HasFlag(TeamPermissions.Invite))
		{
			<a class="btn btn-success custom-btn" href="/workplace/invite?teamId=@Model.Team.TeamId">
				Добавить участника
			</a>
		}
	</div>
	<div class="mt-3">
		<a class="btn btn-primary custom-btn" href="/workplace/teamvacancies?teamId=@Model.Team.TeamId">
			Открыть вакансии
		</a>
		<a class="btn btn-secondary custom-btn" href="/workplace/leaveteam?teamId=@Model.Team.TeamId">
			Выйти из группы
		</a>
	</div>
	<div class="mt-5">
		<a class="link-secondary" href="/account">Вернуться на главную страницу</a>
	</div>
</div>
